$primaryColor: #0AAD5C;
$borderColor: #D4D4D4;

.dashboard-root {
    height: 100vh;
    background-color: whitesmoke;

    .panel {
        background-color: white;
        //border: 1px solid $borderColor;
    }

    .panel-round {
        border-radius: 1rem;
    }

    .red {
        border: 1px solid lightcoral;
    }
}