$primaryColor: #0AAD5C;
$borderColor: #D4D4D4;

.order-root {
    height: 100vh;
    background-color: whitesmoke;

    .main-panel {
        height: 100vh;
    }

    .panel {
        background-color: white;
    }

    .panel-round {
        border-radius: 1rem;
    }

    .panel-border {
        border: 1px solid $borderColor;
    }

    .remove-btn {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        border: 0;
        margin: 0;
    }

    .remove-btn > img {
        filter: brightness(0%);
    }

    .remove-btn:hover > img {
        filter: brightness(100%);
    }
}