.modal-img-container {
    width: 16rem;
    height: 16rem;
    border: 1px solid #D4D4D4;
    border-radius: 0rem;
}

.modal-img {
    width: 100%;
}

.modal-border {
    border: 1px solid #D4D4D4;
    border-radius: 1rem;
}

.w-35 {
    width: 35%;
}

.w-65 {
    width: 65%;
}

.fs-tiny {
    font-size: 14px;
    color: red;
}